# Dependencies
node_modules/
**/node_modules/

# Environment Files
.env
.env.*
!.env.example
!**/.env.example

# Build & Production Outputs
dist/
build/
**/dist/
**/build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Temporary Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
Thumbs.db:encrypt
ehthumbs.db
Desktop.ini

# Editor & IDE Temporary Files
.idea/
.vscode/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project
